<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1 col-xs-3">
        <a href="https://calendar.google.com/calendar/embed?src=veganzombiesctf%40gmail.com&ctz=America/Los_Angeles" target="_blank">
	  <span class="glyphicon glyphicon-calendar"></span>
	  <span class="username">Calendar</span>
	</a>
      </div>

      <div class="footer-col  footer-col-2 col-xs-3">
        <a href="https://github.com/{{ site.github_username }}" target="_blank">
	  <span class="icon icon--github">
	    <i class="fa fa-github"></i>
	  </span>
          <span class="username">GitHub</span>
        </a>
      </div>

      <div class="footer-col  footer-col-3 col-xs-3">
        <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
	  <span class="icon icon--twitter">
	    <i class="fa fa-twitter"></i>
	  </span>
          <span class="username">Twitter</span>
        </a>
      </div>

      <div class="footer-col  footer-col-4 col-xs-3">
        <a href="https://ctftime.org/team/4926" target="_blank">
	  <span class="icon icon--ctftime">
	    <i class="fa fa-flag"></i>
	  </span>
          <span class="username">CTFTime</span>
        </a>
      </div>
    </div>

  </div>

</footer>
