<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1 col-md-4">
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
	  <span class="icon icon--rss">
	    <i class="fa fa-rss"></i>
	  </span>
	  <span class="username">RSS</span>
	</a>
      </div>

      <div class="footer-col  footer-col-2 col-md-4">
        <a href="https://github.com/{{ site.github_username }}">
	  <span class="icon icon--github">
	    <i class="fa fa-github"></i>
	  </span>
          <span class="username">{{ site.github_username }}</span>
        </a>
      </div>

      <div class="footer-col  footer-col-3 col-md-4">
        <a href="https://twitter.com/{{ site.twitter_username }}">
	  <span class="icon icon-twitter">
	    <i class="fa fa-twitter"></i>
	  </span>
          <span class="username">{{ site.twitter_username }}</span>
        </a>
      </div>
    </div>

  </div>

</footer>
